body {
    font-family: Arial, sans-serif;
    color: #c0b4b4;
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-name {
    float: right;
}

.img-container {
    margin-right: 20px;
    filter: brightness(0) invert(1);
}

.registration-link {
    display: block;
    margin-left: -20%;
    margin-top: 2%;
    color: #c0b4b4;
    font-size: 18px;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.log-in-link {
    display: block;
    margin-left: -110%;
    margin-top: 2%;
    color: #c0b4b4;
    font-size: 18px;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.registration-link:hover {
    color: #54cef6;
}

.log-in-link:hover {
    color: #54cef6;
}

.registration-button:hover {
    background-color: #54cef6;
}

.social-media-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #54cef6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #c0b4b4;
    margin-left: 10px;
}

.footer-text {
    font-weight: 1000;
}

.guide {
    font-size: 12px;
    text-align: start;
    color: #c0b4b4;
    margin-bottom: 10px;
}

.text-container {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    padding-left: 20%;
    color: #ffffff;
    font-size: 62px;
}

.registration-button {
    background-color: #f3efef;
    text-decoration: none;
    color: #383838;
    border: none;
    padding: 16px 32px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    max-width: 100px;
    font-weight: 700;
    position: relative;
    top: -30px;
    left: -20px;
}

.text-container-2 {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    padding-left: 10%;
    color: #ffffff;
    font-size: 62px;
}

.background-img {
    width: 100%;
    height: 350px;
}

.list-style {
    list-style-type: none;
}

.section-size {
    width: 100%;
    height: 500px;
}

.text-container-in-advantages {
    position: absolute;
    margin-left: 130px;
    font-size: 18px;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 200px;
}

h4 {
    font-weight: 1000;
    text-decoration: underline;
}

.advantages {
    font-size: 32px;
    text-align: center;
}