body {
    font-family: Arial, sans-serif;
    color: #c0b4b4;
    background-color: #000000;
}

p {
    font-weight: 600;
}

.navigation-tools-section {
    background-color: #171717;
    border-radius: 8px;
    height: 160px;
    width: 380px;
}

.container {
    display: flex;
    align-items: center;
}

.img-container,.list-of-songs {
    margin-right: 6px;
    margin-left: 6px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.library-section {
    margin-top: 10px;
    background-color: #171717;
    border-radius: 8px;
    height: 91vh;
    width: 380px;
}

.search-section {
    margin-top: -1046px;
    margin-left: 390px;
    border-radius: 8px;
    background-color: #101010;
    height: 80px;
    width: 310px;
}

.search-container {
    padding-top: 20px;
    padding-left: 20px;
}

.search-form {
    position: absolute;
    border: 2px solid #54cef6;
    border-radius: 25px;
    display: inline-flex;
    padding-right: 4px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #282828;
}

.search-form-text {
    border: none;
    width: 200px;
    outline: none;
    font-size: 18px;
    padding-right: 10px;
    background-color: transparent;
    padding-left: 10px;
}

.search-form-button, .bar-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.bar-section {
    background-color: #101010;
    border-radius: 8px;
    height: 80px;
    margin-top: -80px;
    margin-left: 710px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.current-song {
    margin: 0 auto;
}

.progress-container {
    width: 100%;
    height: 8px;
    background-color: #282828;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    align-items: center;
    .progress {
        height: 5px;
        background-color: #54cef6;
        border-radius: 5px;
    }
}

.list-of-songs-section {
    margin-left: 390px;
    margin-top: 8px;
    background-color: #171717;
    border-radius: 8px;
    height: 100vh;
}

.list-of-songs th,
.list-of-songs td {
    padding: 10px 90px;
}

.list-of-songs {
    display: none;
}