<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns>
<head>

    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="icon" type="image/x-icon" href="" th:href="@{/images/project_logos/icon.ico}">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/LogIn.css}">

</head>

<body>

<header>

  <section class="header">
    <img class="img-container" src="" th:src="@{/images/project_logos/logo.png}" alt="image"/>
    <h3>SoundBar</h3>
  </section>

</header>

<main>
  <section class="page">

      <h1>Log in to SoundBar</h1>

    <div class="registration">
      <form th:action="@{/log-in}" th:object="${checkUser}" method="post">

        <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <div class="form-group">

          <p class="guide">Enter your email</p>

          <label>
            <input type="email" class="input" th:field="*{email}" placeholder="Email@domain.com">
          </label>
        </div>

        <div class="form-group">

          <p class="guide">Enter your password</p>

          <label>
            <input type="password" class="input" th:field="*{password}" placeholder="password">
          </label>

        </div>

        <button class="button" type="submit" th:href="@{/player}">Log in</button>

      </form>
    </div>

  </section>

</main>

<footer>

  <div class="list-container">
    <ul class="list-style">

      <li>
        <p>Don`t have an account?</p>
      </li>

      <li>
        <a class="registration-link" th:href="@{/registration}">Start here</a>
      </li>

    </ul>
  </div>

</footer>
</body>
</html>