<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SoundBar - Web Player</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/project_logos/icon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/PlayerPage.css}">
</head>

<body>
<main>

    <section class="navigation-tools-section">

        <div class="container">

            <img class="img-container" th:src="@{/images/project_logos/small_logo.png}" alt="image"/>

            <div class="text-container">
                <h3>SoundBar</h3>
            </div>
        </div>

        <div class="container">

            <button class="bar-button" onclick="choosingTable('list-of-songs')">
               <img th:src="@{/images/other_images/player_page/home.png}" alt="image">
            </button>

            <div class="text-container">
                <p>Home</p>
            </div>
        </div>

        <div class="container">

            <a href="#"><img class="img-container" th:src="@{/images/other_images/player_page/search.png}" alt="image"></a>

            <div class="text-container">
                <p>Search</p>
            </div>
        </div>
    </section>

    <section class="library-section">

        <div class="container">

            <img class="img-container" th:src="@{/images/other_images/player_page/library.png}" alt="image">

            <div class="text-container">
                <p>My library</p>
            </div>
        </div>

        <section>

            <table>
                <tr>
                    <td>
                        <button class="bar-button" onclick="choosingTable('added-songs')">
                            <img th:src="@{/images/other_images/player_page/player-page_playlist.png}" alt="image">
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="bar-button" onclick="choosingTable('liked-songs')">
                            <img th:src="@{/images/other_images/player_page/liked_playlist.png}" alt="image">
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="bar-button" onclick="choosingTable('deleted-songs')">
                            <img th:src="@{/images/other_images/player_page/deleted_playlist.png}" alt="image">
                        </button>
                    </td>
                </tr>
            </table>
        </section>
    </section>

    <section class="search-section">

        <div class="search-container">

            <div class="search-form">

                <input class="search-form-text" id="searchInput" type="text" placeholder="Search for music">

                <button class="search-form-button">
                    <img class="search-form-image" th:src="@{/images/other_images/player_page/search.png}" alt="image">
                </button>

            </div>
        </div>
    </section>

    <section class="bar-section">

        <div class="player">

            <div class="current-song">
                <div class="song"></div>
                <audio class="audio" src="https://s3.eu-central-1.amazonaws.com/music.files.bucket/nirvana_-_come-as-you-are.mp3"></audio>
            </div>

            <div class="progress-container">
                <div class="progress"></div>
            </div>

            <div class="bar">
                <div>
                    <button class="bar-button" onclick="previousSong()">
                        <img th:src="@{/images/other_images/player_page/bar_img/previous.png}" alt="image">
                    </button>
                </div>

                <div>
                    <button class="bar-button" onclick="toggle()">
                        <img class="image" th:src="@{/images/other_images/player_page/bar_img/play.png}" alt="image">
                    </button>
                </div>

                <div>
                    <button class="bar-button" onclick="nextSong()">
                        <img th:src="@{/images/other_images/player_page/bar_img/next.png}" alt="image">
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="list-of-songs-section">
        <table class="list-of-songs" id="added-songs">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr th:each="song : ${songs}">
                <th th:text="${song.title}"></th>
                <th>Example artist</th>
                <th th:text="${song.continuity}"></th>
                <th><button class="button">Example add</button> </th>
            </tr>
        </table>

        <table class="list-of-songs" id="liked-songs">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr th:each="song : ${songs}">
                <th th:text="${song.title}"></th>
                <th>Example artist</th>
                <th th:text="${song.continuity}"></th>
                <th><button class="button">Example add</button> </th>
            </tr>
        </table>

        <table class="list-of-songs" id="deleted-songs">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr th:each="song : ${songs}">
                <th th:text="${song.title}"></th>
                <th>Example artist</th>
                <th th:text="${song.continuity}"></th>
                <th><button class="button">Example add</button> </th>
            </tr>
        </table>

        <table class="list-of-songs" id="list-of-songs">
            <tr>
                <th>Tap to play</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr th:each="song : ${songs}">

                <th >
                    <button class="bar-button" onclick="playSong()" th:data-url="${song.url}">
                        <img th:src="@{/images/other_images/player_page/bar_img/play.png}" alt="image">
                    </button>
                </th>
                <th th:text="${song.title}"></th>
                <th th:text="${song.artist}"></th>
                <th th:text="${song.continuity}"></th>
                <th>
                    <button class="button">Example add</button>
                </th>

            </tr>
        </table>
    </section>
</main>

<script th:src="@{/JS/MusicSearch.js}"></script>
<script th:src="@{/JS/ChoosingTable.js}"></script>
<script th:src="@{/JS/PlayMusic.js}"></script>

</body>
</html>