<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>SoundBar - Web Player</title>
    <link rel="icon" type="image/x-icon" href="../images/project_logos/icon.ico">
    <link rel="stylesheet" type="text/css" href="../css/PlayerPage.css">

</head>
<body>

<main>

    <section class="navigation-tools-section">

        <div class="container">

            <img class="img-container" src="../images/project_logos/small_logo.png" alt="image">

            <div class="text-container">
                <h3>SoundBar</h3>
            </div>

        </div>

        <div class="container">

            <button class="bar-button" onclick="choosingTable('list-of-songs')">
               <img src="../images/other_images/home.png" alt="image">
            </button>

            <div class="text-container">
                <p>Home</p>
            </div>

        </div>

        <div class="container">

            <a href="#"><img class="img-container" src="../images/other_images/search.png" alt="image"></a>

            <div class="text-container">
                <p>Search</p>
            </div>

        </div>
    </section>

    <section class="library-section">

        <div class="container">

            <img class="img-container" src="../images/other_images/library.png" alt="image">

            <div class="text-container">
                <p>My library</p>
            </div>

        </div>

        <section>

            <table>

                <tr>
                    <td>
                        <button class="bar-button" onclick="choosingTable('added-songs')">
                            <img src="../images/other_images/player-page_playlist.png" alt="image">
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="bar-button" onclick="choosingTable('liked-songs')">
                            <img src="../images/other_images/liked_playlist.png" alt="image">
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="bar-button" onclick="choosingTable('deleted-songs')">
                            <img src="../images/other_images/deleted_playlist.png" alt="image">
                        </button>
                    </td>
                </tr>

            </table>
        </section>
    </section>

    <section class="search-section">

        <div class="search-container">

            <div class="search-form">

                <input class="search-form-text" id="searchInput" type="text" placeholder="Search for music">

                <button class="search-form-button">
                    <img class="search-form-image" src="../images/other_images/search.png" alt="image">
                </button>

            </div>
        </div>
    </section>

    <section class="bar-section">

        <table class="bar">
            <tr>

                <th>

                    <button class="bar-button">
                        <img src="../images/other_images/previous.png" alt="image">
                    </button>

                </th>

                <th>

                    <button class="bar-button">
                        <img src="../images/other_images/play.png" alt="image">
                    </button>
                </th>

                <th>

                    <button class="bar-button">
                        <img src="../images/other_images/next.png" alt="image">
                    </button>

                </th>
            </tr>

        </table>
    </section>

    <section class="list-of-songs-section">
<!-- example of tables -->
        <table class="added-list-of-songs" id="added-songs">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr>
                <th>Example name added</th>
                <th>Example artist added</th>
                <th>Example continuity added</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name1 added</th>
                <th>Example artist1 added</th>
                <th>Example continuity1 added</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name2 added</th>
                <th>Example artist2 added</th>
                <th>Example continuity2 added</th>
                <th><button class="button">Example add</button> </th>
            </tr>
        </table>

        <table class="liked-list-of-songs" id="liked-songs">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr>
                <th>Example name like</th>
                <th>Example artist like</th>
                <th>Example continuity like</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name1 like</th>
                <th>Example artist1 like</th>
                <th>Example continuity1 like</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name2 like</th>
                <th>Example artist2 like</th>
                <th>Example continuity2 like</th>
                <th><button class="button">Example add</button> </th>
            </tr>
        </table>

        <table class="deleted-list-of-songs" id="deleted-songs">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

            <tr>
                <th>Example name deleted</th>
                <th>Example artist deleted</th>
                <th>Example continuity deleted</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name1 deleted</th>
                <th>Example artist1 deleted</th>
                <th>Example continuity1 deleted</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name2 deleted</th>
                <th>Example artist2 deleted</th>
                <th>Example continuity2 deleted</th>
                <th><button class="button">Example add</button> </th>
            </tr>
        </table>

        <table class="list-of-songs" id="list-of-songs">

            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

<!--      This is example how the list of song at this page will be viewed and js search testing  -->
            <tr>
                <th>Example name</th>
                <th>Example artist</th>
                <th>Example continuity</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name1</th>
                <th>Example artist1</th>
                <th>Example continuity1</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name2</th>
                <th>Example artist2</th>
                <th>Example continuity2</th>
                <th><button class="button">Example add</button> </th>
            </tr>

<!-- -------------------------------------------------------- -->
        </table>
    </section>
</main>

<script src="../JS/MusicSearch.js"></script>

<script src="../JS/ChoosingTable.js"></script>

</body>
</html>