<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>SoundBar - Web Player</title>
    <link rel="icon" type="image/x-icon" href="../images/project_logos/icon.ico">

</head>
<body>

<main>

    <section>

        <img class="img-container" src="../images/project_logos/small_logo.png">
        <h4 class="app-name">SoundBar</h4>

        <a href="#"><img src="../images/other_images/home.png"></a>
        <p>Home</p>

        <a href="#"><img src="../images/other_images/search.png"></a>
        <p>Search</p>

    </section>

    <section>

        <a href="#"><img class="img-container" src="../images/other_images/library.png"></a>
        <p>My library</p>

    </section>

    <section>

        <table>

            <tr>
                <td><a href="#"><img src="../images/other_images/player-page_playlist.png"></a></td>
            </tr>

            <tr>
                <td><a href="#"><img src="../images/other_images/liked_playlist.png"></a></td>
            </tr>

            <tr>
                <td><a href="#"><img src="../images/other_images/deleted_playlist.png"></a></td>
            </tr>

        </table>

    </section>

    <section>

        <table>

            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

<!--      This is example how the list of song at this page will be viewed   -->
            <tr>
                <th>Example name</th>
                <th>Example artist</th>
                <th>Example continuity</th>
                <th><button class="button">Example add</button> </th>
            </tr>
<!-- -------------------------------------------------------- -->
        </table>
    </section>
</main>

</body>
</html>