<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>SoundBar - Web Player</title>
    <link rel="icon" type="image/x-icon" href="../images/project_logos/icon.ico">
    <link rel="stylesheet" type="text/css" href="../css/PlayerPage.css">

</head>
<body>

<main>

    <section class="navigation-tools-section">

        <div class="container">

            <img class="img-container" src="../images/project_logos/small_logo.png">

            <div class="text-container">
                <h3>SoundBar</h3>
            </div>

        </div>

        <div class="container">

            <a href="#"><img class="img-container" src="../images/other_images/home.png"></a>

            <div class="text-container">
                <p>Home</p>
            </div>

        </div>

        <div class="container">

            <a href="#"><img class="img-container" src="../images/other_images/search.png"></a>

            <div class="text-container">
                <p>Search</p>
            </div>

        </div>
    </section>

    <section class="library-section">

        <div class="container">

            <a href="#"><img class="img-container" src="../images/other_images/library.png"></a>

            <div class="text-container">
                <p>My library</p>
            </div>

        </div>

        <section>

            <table>

                <tr>
                    <td><a href="#"><img src="../images/other_images/player-page_playlist.png"></a></td>
                </tr>

                <tr>
                    <td><a href="#"><img src="../images/other_images/liked_playlist.png"></a></td>
                </tr>

                <tr>
                    <td><a href="#"><img src="../images/other_images/deleted_playlist.png"></a></td>
                </tr>

            </table>
        </section>
    </section>

    <section class="search-section">

        <div class="search-container">

            <div class="search-form">

                <input class="search-form-text" id="searchInput" type="text" placeholder="Search for music">

                <button class="search-form-button">
                    <img class="search-form-image" src="../images/other_images/search.png" alt="image">
                </button>

            </div>
        </div>
    </section>

    <section class="list-of-songs-section">

        <table class="list-of-songs">

            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Continuity</th>
            </tr>

<!--      This is example how the list of song at this page will be viewed and js search testing  -->
            <tr>
                <th>Example name</th>
                <th>Example artist</th>
                <th>Example continuity</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name1</th>
                <th>Example artist1</th>
                <th>Example continuity1</th>
                <th><button class="button">Example add</button> </th>
            </tr>

            <tr>
                <th>Example name2</th>
                <th>Example artist2</th>
                <th>Example continuity2</th>
                <th><button class="button">Example add</button> </th>
            </tr>

<!-- -------------------------------------------------------- -->
        </table>
    </section>
</main>

<script src="../JS/MusicSearch.js"></script>

</body>
</html>