<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Register your account</title>
    <link rel="icon" type="image/x-icon" href="../images/project_logos/icon.ico">
    <link rel="stylesheet" type="text/css" href="../css/RegistrationForm.css">

</head>
<body>

<header>
    <section class="header">
        <img class="img-container" src="../images/project_logos/logo.png">
        <h3 class="sound-bar">SoundBar</h3>
    </section>
</header>

<main>
    <section class="page">

        <center>
            <h1>Register <br>to explore world <br>of music</h1>
        </center>

        <div class="registration">
            <form class="registration-form" action="" novalidate>

                <div class="form-group">

                    <p class="guide">Enter your email</p>
                    <input type="email" class="input js-type js-input-email" name="email" placeholder="Email@domain.com">
                    <div class="error-message" id="emailError"></div>

                </div>

                <div class="form-group">

                    <p class="guide">Enter your nickname</p>
                    <input type="text" class="input js-type js-input-nickname" name="nickname" placeholder="N1Ckn0me">
                    <div class="error-message" id="nicknameError"></div>

                </div>

                <div class="form-group">

                    <p class="guide">Enter your password</p>
                    <input type="password" class="input js-type js-input-password" name="password" placeholder="password">
                    <div class="error-message" id="passwordError"></div>

                </div>

                <button class="button" type="submit">Create an account</button>
            </form>
        </div>
    </section>

</main>

<footer>

    <center class="footer-text">

        <p>This web-app was created by modificks</p>
        <p>Contact me</p><br>

    </center>

    <center>

        <button class="social-media-button"><a href="https://www.linkedin.com/feed/?trk=onboarding-landing" title="LinkedIn"><img src="../images/social_media_logos/linkedin.png" alt="LinkedIn"></a></button>
        <button class="social-media-button"><a href="https://t.me/Modifiks" title="Telegram"><img src="../images/social_media_logos/telegram.png" alt="Telegram"></a></button>
        <button class="social-media-button"><a href="https://www.instagram.com/_p_ersona_/" title="Instagram"><img src="../images/social_media_logos/instagram.png" alt="Instagram"></a></button>

    </center>

</footer>
</body>
</html>